<launch>
    <!-- USB config-->
    <arg default="/dev/ttyUSB0" name="uart_port"></arg>
    <arg default="/dev/ttyUSB1" name="data_port"></arg>

    <!-- Topic names-->
    <arg default="aop_0" name="radar_id"></arg>
    <arg default="/gtec/mmwave/$(arg radar_id)/radar" name="publish_radar_topic"></arg>
    <arg default="/gtec/mmwave/$(arg radar_id)/cloud" name="publish_cloud_topic"></arg>
    <arg default="/gtec/mmwave/$(arg radar_id)/target" name="publish_target_topic"></arg>
    <arg default="/gtec/mmwave/$(arg radar_id)/cartesian" name="publish_cartesian_cloud_topic"></arg>
    <arg default="/gtec/mmwave/all/target" name="publish_all_target_topic"></arg>


    
    <!-- USB power listener -->

    <arg default="/uwb_switch_listener/$(arg radar_id)" name="command_topic_single"></arg>
    <arg default="/uwb_switch_listener" name="command_topic"></arg>
    <arg default="/home/ubuntu/src/rpi_usb_power_switch/usb_switch.sh" name="script_path"></arg>

    <node name="usb_switch_listener_$(arg radar_id)" output="screen" pkg="gtec_rpi_usb_power" type="usb_switch_listener.py">
        <param name="id" value="$(arg radar_id)"></param>
        <param name="command_topic_single" value="$(arg command_topic_single)"></param>
        <param name="command_topic" value="$(arg command_topic)"></param>
        <param name="script_path" value="$(arg script_path)"></param>
    </node>

    <!-- Reset device -->
<!--     <node pkg="rostopic" type="rostopic" name="rostopic_pub_node_off" output="screen" args="pub -1 /uwb_switch_listener/$(arg radar_id) std_msgs/Int32 '0'" />
    <node pkg="rostopic" type="rostopic" name="rostopic_pub_node_on" output="screen" args="pub -1 /uwb_switch_listener/$(arg radar_id) std_msgs/Int32 '1'" /> -->

    <!-- Radar device config-->

    <arg default="$(find gtec_mmwave_reader)/example_radar_configs/tracking_people_6m_6843AOP.cfg" name="config_file_path"></arg>
    
    <arg default="7.415" name="radar_pos_x"></arg>
    <arg default="3.408" name="radar_pos_y"></arg>
    <arg default="2.62" name="radar_pos_z"></arg>
    <arg default="0" name="radar_yaw"></arg>
    <arg default="-1.570796327" name="radar_pitch"></arg>
    <arg default="0" name="radar_roll"></arg>

    <arg default="-2.989" name="boundary_box_x_min"></arg>
    <arg default="3.408" name="boundary_box_x_max"></arg>

    <arg default="-7.415" name="boundary_box_y_min"></arg>
    <arg default="5.045" name="boundary_box_y_max"></arg>

    <arg default="-0.5" name="boundary_box_z_min"></arg> 
    <arg default="4" name="boundary_box_z_max"></arg>

    <!-- Nodes -->

    <node  name="IWR6843ISKPeopleCountingReader_$(arg radar_id)" output="screen" pkg="gtec_mmwave_reader" type="IWR6843ISK_people_counting_reader.py">
        <param name="uart_port" value="$(arg uart_port)"></param>
        <param name="data_port" value="$(arg data_port)"></param>
        <param name="config_file_path" value="$(arg config_file_path)"></param>
        <param name="publish_radar_topic" value="$(arg publish_radar_topic)"></param>
        <param name="publish_cloud_topic" value="$(arg publish_cloud_topic)"></param>
        <param name="publish_target_topic" value="$(arg publish_target_topic)"></param>
        <param name="sensor_height" value="$(arg radar_pos_z)"></param>
        <param name="elev_tilt" value="$(arg radar_pitch)"></param>
        <param name="radar_id" value="$(arg radar_id)"></param>
        <param name="publish_all_target_topic" value="$(arg publish_all_target_topic)"></param>
        <param name="sensor_x" value="$(arg radar_pos_x)"></param>
        <param name="sensor_y" value="$(arg radar_pos_y)"></param>
        <param name="boundary_box_x_min" value="$(arg boundary_box_x_min)"></param>
        <param name="boundary_box_y_min" value="$(arg boundary_box_y_min)"></param>
        <param name="boundary_box_z_min" value="$(arg boundary_box_z_min)"></param>
        <param name="boundary_box_x_max" value="$(arg boundary_box_x_max)"></param>
        <param name="boundary_box_y_max" value="$(arg boundary_box_y_max)"></param>
        <param name="boundary_box_z_max" value="$(arg boundary_box_z_max)"></param>
    </node>

    <node pkg="tf" 
        type="static_transform_publisher" 
        name="odom_to_radar_$(arg radar_id)" 
        args="$(arg radar_pos_x) $(arg radar_pos_y) $(arg radar_pos_z) $(arg radar_yaw) $(arg radar_pitch) $(arg radar_roll) odom $(arg radar_id) 30" />

    <node  pkg="tf" type="static_transform_publisher" name="map_to_odom_$(arg radar_id)" args="0 0 0 0 0 0 map odom 30" />

    <!-- <node  pkg="tf" type="static_transform_publisher" name="radar_to_rviz_$(arg radar_id)" args="0 0 0 0 0 0 $(arg radar_id) rviz_$(arg radar_id) 30" /> -->

    <node  pkg="pose_publisher" type="pose_publisher" name="radar_pose_$(arg radar_id)">
            <param name="map_frame" value="odom"></param>
            <param name="base_frame" value="$(arg radar_id)"></param>
            <remap from="/pose" to="/gtec/mmwave/$(arg radar_id)/pose"/>
    </node>

    <node name="IWR6843ISKPolarToCartesian_$(arg radar_id)" output="screen" pkg="gtec_mmwave_reader" type="IWR6843ISK_polar_to_cartesian.py">
        <param name="radar_topic" value="$(arg publish_radar_topic)"></param>
        <param name="radar_id" value="$(arg radar_id)"></param>
        <param name="publish_cloud_topic" value="$(arg publish_cartesian_cloud_topic)"></param>
        <param name="elev_tilt" value="$(arg radar_pitch)"></param>
    </node>

</launch>